header {
    a {
        text-decoration: none;
    }
    background: #101010;
    h1 {
        color: aliceblue;
        margin: 0;
        padding: 2rem 0;
        font-size: 28px;
        text-transform: uppercase;
    }
}

main {
    margin: 0 1px;
}