<div class="wrapper">
    <div class="post_body" *ngFor="let post of post">
        <div class="post_body__title">
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        </div>
    </div>
    <div class="comments">
        <h3>Comments</h3>
        <div class="comment" *ngFor="let comment of comment">
            <h4>{{comment.name | titlecase}}</h4>
            <p>{{comment.body}}</p>
            <span>{{comment.email}}</span>
        </div>
        <button mat-raised-button (click)="openDialog()">Add New Comment</button>
    </div>
</div>