/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.wrapper {
    max-width: 1004px;
    margin: 0 auto;
    padding: 0 15px;
}